<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tj.urbanplanning.tree.Dao.DangerRankMapper">
  <resultMap id="BaseResultMap" type="com.tj.urbanplanning.tree.Entity.DangerRank">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="diagnose_date" jdbcType="TIMESTAMP" property="diagnoseDate" />
    <result column="diagnoser" jdbcType="VARCHAR" property="diagnoser" />
    <result column="last_diag_date" jdbcType="TIMESTAMP" property="lastDiagDate" />
    <result column="tree_species" jdbcType="VARCHAR" property="treeSpecies" />
    <result column="tree_number" jdbcType="INTEGER" property="treeNumber" />
    <result column="vigour" jdbcType="INTEGER" property="vigour" />
    <result column="thickstem" jdbcType="INTEGER" property="thickstem" />
    <result column="stems" jdbcType="INTEGER" property="stems" />
    <result column="branches" jdbcType="INTEGER" property="branches" />
    <result column="base" jdbcType="INTEGER" property="base" />
    <result column="diag_neccessity" jdbcType="INTEGER" property="diagNeccessity" />
    <result column="diag_height" jdbcType="DECIMAL" property="diagHeight" />
    <result column="note" jdbcType="INTEGER" property="note" />
    <result column="hole_position" jdbcType="INTEGER" property="holePosition" />
    <result column="trim_trace_size" jdbcType="DECIMAL" property="trimTraceSize" />
    <result column="trim_trace_quantity" jdbcType="DECIMAL" property="trimTraceQuantity" />
    <result column="danger_rankcol" jdbcType="VARCHAR" property="dangerRankcol" />
    <result column="note_others" jdbcType="VARCHAR" property="noteOthers" />
    <result column="uprooted" jdbcType="INTEGER" property="uprooted" />
    <result column="wreck" jdbcType="INTEGER" property="wreck" />
    <result column="thickstem_wreck" jdbcType="INTEGER" property="thickstemWreck" />
    <result column="branch_fall" jdbcType="INTEGER" property="branchFall" />
    <result column="tilt" jdbcType="INTEGER" property="tilt" />
    <result column="risk_others" jdbcType="VARCHAR" property="riskOthers" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from danger_rank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tj.urbanplanning.tree.Entity.DangerRank">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into danger_rank (diagnose_date, diagnoser, last_diag_date, 
      tree_species, tree_number, vigour, 
      thickstem, stems, branches, 
      base, diag_neccessity, diag_height, 
      note, hole_position, trim_trace_size, 
      trim_trace_quantity, danger_rankcol, note_others, 
      uprooted, wreck, thickstem_wreck, 
      branch_fall, tilt, risk_others
      )
    values (#{diagnoseDate,jdbcType=TIMESTAMP}, #{diagnoser,jdbcType=VARCHAR}, #{lastDiagDate,jdbcType=TIMESTAMP}, 
      #{treeSpecies,jdbcType=VARCHAR}, #{treeNumber,jdbcType=INTEGER}, #{vigour,jdbcType=INTEGER}, 
      #{thickstem,jdbcType=INTEGER}, #{stems,jdbcType=INTEGER}, #{branches,jdbcType=INTEGER}, 
      #{base,jdbcType=INTEGER}, #{diagNeccessity,jdbcType=INTEGER}, #{diagHeight,jdbcType=DECIMAL}, 
      #{note,jdbcType=INTEGER}, #{holePosition,jdbcType=INTEGER}, #{trimTraceSize,jdbcType=DECIMAL}, 
      #{trimTraceQuantity,jdbcType=DECIMAL}, #{dangerRankcol,jdbcType=VARCHAR}, #{noteOthers,jdbcType=VARCHAR}, 
      #{uprooted,jdbcType=INTEGER}, #{wreck,jdbcType=INTEGER}, #{thickstemWreck,jdbcType=INTEGER}, 
      #{branchFall,jdbcType=INTEGER}, #{tilt,jdbcType=INTEGER}, #{riskOthers,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tj.urbanplanning.tree.Entity.DangerRank">
    update danger_rank
    set diagnose_date = #{diagnoseDate,jdbcType=TIMESTAMP},
      diagnoser = #{diagnoser,jdbcType=VARCHAR},
      last_diag_date = #{lastDiagDate,jdbcType=TIMESTAMP},
      tree_species = #{treeSpecies,jdbcType=VARCHAR},
      tree_number = #{treeNumber,jdbcType=INTEGER},
      vigour = #{vigour,jdbcType=INTEGER},
      thickstem = #{thickstem,jdbcType=INTEGER},
      stems = #{stems,jdbcType=INTEGER},
      branches = #{branches,jdbcType=INTEGER},
      base = #{base,jdbcType=INTEGER},
      diag_neccessity = #{diagNeccessity,jdbcType=INTEGER},
      diag_height = #{diagHeight,jdbcType=DECIMAL},
      note = #{note,jdbcType=INTEGER},
      hole_position = #{holePosition,jdbcType=INTEGER},
      trim_trace_size = #{trimTraceSize,jdbcType=DECIMAL},
      trim_trace_quantity = #{trimTraceQuantity,jdbcType=DECIMAL},
      danger_rankcol = #{dangerRankcol,jdbcType=VARCHAR},
      note_others = #{noteOthers,jdbcType=VARCHAR},
      uprooted = #{uprooted,jdbcType=INTEGER},
      wreck = #{wreck,jdbcType=INTEGER},
      thickstem_wreck = #{thickstemWreck,jdbcType=INTEGER},
      branch_fall = #{branchFall,jdbcType=INTEGER},
      tilt = #{tilt,jdbcType=INTEGER},
      risk_others = #{riskOthers,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, diagnose_date, diagnoser, last_diag_date, tree_species, tree_number, vigour, 
    thickstem, stems, branches, base, diag_neccessity, diag_height, note, hole_position, 
    trim_trace_size, trim_trace_quantity, danger_rankcol, note_others, uprooted, wreck, 
    thickstem_wreck, branch_fall, tilt, risk_others
    from danger_rank
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, diagnose_date, diagnoser, last_diag_date, tree_species, tree_number, vigour, 
    thickstem, stems, branches, base, diag_neccessity, diag_height, note, hole_position, 
    trim_trace_size, trim_trace_quantity, danger_rankcol, note_others, uprooted, wreck, 
    thickstem_wreck, branch_fall, tilt, risk_others
    from danger_rank
  </select>
</mapper>