<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tj.urbanplanning.tree.Dao.TreeRecordMapper">
  <resultMap id="BaseResultMap" type="com.tj.urbanplanning.tree.Entity.TreeRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="old_num" jdbcType="INTEGER" property="oldNum" />
    <result column="record_date" jdbcType="TIMESTAMP" property="recordDate" />
    <result column="climate" jdbcType="VARCHAR" property="climate" />
    <result column="investigator" jdbcType="VARCHAR" property="investigator" />
    <result column="tree_species" jdbcType="VARCHAR" property="treeSpecies" />
    <result column="tree_scientific_name" jdbcType="VARCHAR" property="treeScientificName" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="condition" jdbcType="INTEGER" property="condition" />
    <result column="area" jdbcType="DECIMAL" property="area" />
    <result column="avg_temperature" jdbcType="DECIMAL" property="avgTemperature" />
    <result column="heig_temperature" jdbcType="DECIMAL" property="heigTemperature" />
    <result column="low_temperature" jdbcType="DECIMAL" property="lowTemperature" />
    <result column="annual_precipitation" jdbcType="DECIMAL" property="annualPrecipitation" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="wind_speed" jdbcType="DECIMAL" property="windSpeed" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="surround_condition" jdbcType="INTEGER" property="surroundCondition" />
    <result column="sc_area" jdbcType="DECIMAL" property="scArea" />
    <result column="sunlight_reason" jdbcType="VARCHAR" property="sunlightReason" />
    <result column="soil" jdbcType="INTEGER" property="soil" />
    <result column="terrain" jdbcType="INTEGER" property="terrain" />
    <result column="surround_herb" jdbcType="INTEGER" property="surroundHerb" />
    <result column="surround_woody" jdbcType="INTEGER" property="surroundWoody" />
    <result column="surround_relation" jdbcType="INTEGER" property="surroundRelation" />
    <result column="handrail" jdbcType="INTEGER" property="handrail" />
    <result column="handrail_height" jdbcType="DECIMAL" property="handrailHeight" />
    <result column="handrail_material" jdbcType="VARCHAR" property="handrailMaterial" />
    <result column="handrail_area" jdbcType="DECIMAL" property="handrailArea" />
    <result column="handrail_year" jdbcType="INTEGER" property="handrailYear" />
    <result column="pillar" jdbcType="INTEGER" property="pillar" />
    <result column="trim" jdbcType="INTEGER" property="trim" />
    <result column="fertilization" jdbcType="INTEGER" property="fertilization" />
    <result column="ferti_tpy" jdbcType="INTEGER" property="fertiTpy" />
    <result column="ferti_type" jdbcType="INTEGER" property="fertiType" />
    <result column="tree_height" jdbcType="DECIMAL" property="treeHeight" />
    <result column="tree_age" jdbcType="INTEGER" property="treeAge" />
    <result column="tree_girth" jdbcType="DECIMAL" property="treeGirth" />
    <result column="tree_bark" jdbcType="VARCHAR" property="treeBark" />
    <result column="tree_base_condition" jdbcType="INTEGER" property="treeBaseCondition" />
    <result column="soil_thickness" jdbcType="DECIMAL" property="soilThickness" />
    <result column="soil_type" jdbcType="VARCHAR" property="soilType" />
    <result column="others" jdbcType="VARCHAR" property="others" />
    <result column="records" jdbcType="VARCHAR" property="records" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tree_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tj.urbanplanning.tree.Entity.TreeRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tree_record (`number`, old_num, record_date, 
      climate, investigator, tree_species, 
      tree_scientific_name, `position`, `owner`, 
      `condition`, area, avg_temperature, 
      heig_temperature, low_temperature, annual_precipitation, 
      `year`, wind_speed, place, 
      surround_condition, sc_area, sunlight_reason, 
      soil, terrain, surround_herb, 
      surround_woody, surround_relation, handrail, 
      handrail_height, handrail_material, handrail_area, 
      handrail_year, pillar, `trim`, 
      fertilization, ferti_tpy, ferti_type, 
      tree_height, tree_age, tree_girth, 
      tree_bark, tree_base_condition, soil_thickness, 
      soil_type, `others`, records
      )
    values (#{number,jdbcType=INTEGER}, #{oldNum,jdbcType=INTEGER}, #{recordDate,jdbcType=TIMESTAMP}, 
      #{climate,jdbcType=VARCHAR}, #{investigator,jdbcType=VARCHAR}, #{treeSpecies,jdbcType=VARCHAR}, 
      #{treeScientificName,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, 
      #{condition,jdbcType=INTEGER}, #{area,jdbcType=DECIMAL}, #{avgTemperature,jdbcType=DECIMAL}, 
      #{heigTemperature,jdbcType=DECIMAL}, #{lowTemperature,jdbcType=DECIMAL}, #{annualPrecipitation,jdbcType=DECIMAL}, 
      #{year,jdbcType=INTEGER}, #{windSpeed,jdbcType=DECIMAL}, #{place,jdbcType=VARCHAR}, 
      #{surroundCondition,jdbcType=INTEGER}, #{scArea,jdbcType=DECIMAL}, #{sunlightReason,jdbcType=VARCHAR}, 
      #{soil,jdbcType=INTEGER}, #{terrain,jdbcType=INTEGER}, #{surroundHerb,jdbcType=INTEGER}, 
      #{surroundWoody,jdbcType=INTEGER}, #{surroundRelation,jdbcType=INTEGER}, #{handrail,jdbcType=INTEGER}, 
      #{handrailHeight,jdbcType=DECIMAL}, #{handrailMaterial,jdbcType=VARCHAR}, #{handrailArea,jdbcType=DECIMAL}, 
      #{handrailYear,jdbcType=INTEGER}, #{pillar,jdbcType=INTEGER}, #{trim,jdbcType=INTEGER}, 
      #{fertilization,jdbcType=INTEGER}, #{fertiTpy,jdbcType=INTEGER}, #{fertiType,jdbcType=INTEGER}, 
      #{treeHeight,jdbcType=DECIMAL}, #{treeAge,jdbcType=INTEGER}, #{treeGirth,jdbcType=DECIMAL}, 
      #{treeBark,jdbcType=VARCHAR}, #{treeBaseCondition,jdbcType=INTEGER}, #{soilThickness,jdbcType=DECIMAL}, 
      #{soilType,jdbcType=VARCHAR}, #{others,jdbcType=VARCHAR}, #{records,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tj.urbanplanning.tree.Entity.TreeRecord">
    update tree_record
    set `number` = #{number,jdbcType=INTEGER},
      old_num = #{oldNum,jdbcType=INTEGER},
      record_date = #{recordDate,jdbcType=TIMESTAMP},
      climate = #{climate,jdbcType=VARCHAR},
      investigator = #{investigator,jdbcType=VARCHAR},
      tree_species = #{treeSpecies,jdbcType=VARCHAR},
      tree_scientific_name = #{treeScientificName,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR},
      `owner` = #{owner,jdbcType=VARCHAR},
      `condition` = #{condition,jdbcType=INTEGER},
      area = #{area,jdbcType=DECIMAL},
      avg_temperature = #{avgTemperature,jdbcType=DECIMAL},
      heig_temperature = #{heigTemperature,jdbcType=DECIMAL},
      low_temperature = #{lowTemperature,jdbcType=DECIMAL},
      annual_precipitation = #{annualPrecipitation,jdbcType=DECIMAL},
      `year` = #{year,jdbcType=INTEGER},
      wind_speed = #{windSpeed,jdbcType=DECIMAL},
      place = #{place,jdbcType=VARCHAR},
      surround_condition = #{surroundCondition,jdbcType=INTEGER},
      sc_area = #{scArea,jdbcType=DECIMAL},
      sunlight_reason = #{sunlightReason,jdbcType=VARCHAR},
      soil = #{soil,jdbcType=INTEGER},
      terrain = #{terrain,jdbcType=INTEGER},
      surround_herb = #{surroundHerb,jdbcType=INTEGER},
      surround_woody = #{surroundWoody,jdbcType=INTEGER},
      surround_relation = #{surroundRelation,jdbcType=INTEGER},
      handrail = #{handrail,jdbcType=INTEGER},
      handrail_height = #{handrailHeight,jdbcType=DECIMAL},
      handrail_material = #{handrailMaterial,jdbcType=VARCHAR},
      handrail_area = #{handrailArea,jdbcType=DECIMAL},
      handrail_year = #{handrailYear,jdbcType=INTEGER},
      pillar = #{pillar,jdbcType=INTEGER},
      `trim` = #{trim,jdbcType=INTEGER},
      fertilization = #{fertilization,jdbcType=INTEGER},
      ferti_tpy = #{fertiTpy,jdbcType=INTEGER},
      ferti_type = #{fertiType,jdbcType=INTEGER},
      tree_height = #{treeHeight,jdbcType=DECIMAL},
      tree_age = #{treeAge,jdbcType=INTEGER},
      tree_girth = #{treeGirth,jdbcType=DECIMAL},
      tree_bark = #{treeBark,jdbcType=VARCHAR},
      tree_base_condition = #{treeBaseCondition,jdbcType=INTEGER},
      soil_thickness = #{soilThickness,jdbcType=DECIMAL},
      soil_type = #{soilType,jdbcType=VARCHAR},
      `others` = #{others,jdbcType=VARCHAR},
      records = #{records,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, `number`, old_num, record_date, climate, investigator, tree_species, tree_scientific_name, 
    `position`, `owner`, `condition`, area, avg_temperature, heig_temperature, low_temperature, 
    annual_precipitation, `year`, wind_speed, place, surround_condition, sc_area, sunlight_reason, 
    soil, terrain, surround_herb, surround_woody, surround_relation, handrail, handrail_height, 
    handrail_material, handrail_area, handrail_year, pillar, `trim`, fertilization, ferti_tpy, 
    ferti_type, tree_height, tree_age, tree_girth, tree_bark, tree_base_condition, soil_thickness, 
    soil_type, `others`, records
    from tree_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `number`, old_num, record_date, climate, investigator, tree_species, tree_scientific_name, 
    `position`, `owner`, `condition`, area, avg_temperature, heig_temperature, low_temperature, 
    annual_precipitation, `year`, wind_speed, place, surround_condition, sc_area, sunlight_reason, 
    soil, terrain, surround_herb, surround_woody, surround_relation, handrail, handrail_height, 
    handrail_material, handrail_area, handrail_year, pillar, `trim`, fertilization, ferti_tpy, 
    ferti_type, tree_height, tree_age, tree_girth, tree_bark, tree_base_condition, soil_thickness, 
    soil_type, `others`, records
    from tree_record
  </select>
  <resultMap id="BaseResultMap" type="com.tj.urbanplanning.tree.Entity.TreeRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="old_num" jdbcType="INTEGER" property="oldNum" />
    <result column="record_date" jdbcType="TIMESTAMP" property="recordDate" />
    <result column="climate" jdbcType="VARCHAR" property="climate" />
    <result column="investigator" jdbcType="VARCHAR" property="investigator" />
    <result column="tree_species" jdbcType="VARCHAR" property="treeSpecies" />
    <result column="tree_scientific_name" jdbcType="VARCHAR" property="treeScientificName" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="condition" jdbcType="INTEGER" property="condition" />
    <result column="area" jdbcType="DECIMAL" property="area" />
    <result column="avg_temperature" jdbcType="DECIMAL" property="avgTemperature" />
    <result column="heig_temperature" jdbcType="DECIMAL" property="heigTemperature" />
    <result column="low_temperature" jdbcType="DECIMAL" property="lowTemperature" />
    <result column="annual_precipitation" jdbcType="DECIMAL" property="annualPrecipitation" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="wind_speed" jdbcType="DECIMAL" property="windSpeed" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="surround_condition" jdbcType="INTEGER" property="surroundCondition" />
    <result column="sc_area" jdbcType="DECIMAL" property="scArea" />
    <result column="sunlight_reason" jdbcType="VARCHAR" property="sunlightReason" />
    <result column="soil" jdbcType="INTEGER" property="soil" />
    <result column="terrain" jdbcType="INTEGER" property="terrain" />
    <result column="surround_herb" jdbcType="INTEGER" property="surroundHerb" />
    <result column="surround_woody" jdbcType="INTEGER" property="surroundWoody" />
    <result column="surround_relation" jdbcType="INTEGER" property="surroundRelation" />
    <result column="handrail" jdbcType="INTEGER" property="handrail" />
    <result column="handrail_height" jdbcType="DECIMAL" property="handrailHeight" />
    <result column="handrail_material" jdbcType="VARCHAR" property="handrailMaterial" />
    <result column="handrail_area" jdbcType="DECIMAL" property="handrailArea" />
    <result column="handrail_year" jdbcType="INTEGER" property="handrailYear" />
    <result column="pillar" jdbcType="INTEGER" property="pillar" />
    <result column="trim" jdbcType="INTEGER" property="trim" />
    <result column="fertilization" jdbcType="INTEGER" property="fertilization" />
    <result column="ferti_tpy" jdbcType="INTEGER" property="fertiTpy" />
    <result column="ferti_type" jdbcType="INTEGER" property="fertiType" />
    <result column="tree_height" jdbcType="DECIMAL" property="treeHeight" />
    <result column="tree_age" jdbcType="INTEGER" property="treeAge" />
    <result column="tree_girth" jdbcType="DECIMAL" property="treeGirth" />
    <result column="tree_bark" jdbcType="VARCHAR" property="treeBark" />
    <result column="tree_base_condition" jdbcType="INTEGER" property="treeBaseCondition" />
    <result column="soil_thickness" jdbcType="DECIMAL" property="soilThickness" />
    <result column="soil_type" jdbcType="VARCHAR" property="soilType" />
    <result column="others" jdbcType="VARCHAR" property="others" />
    <result column="records" jdbcType="VARCHAR" property="records" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tree_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tj.urbanplanning.tree.Entity.TreeRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tree_record (`number`, old_num, record_date, 
      climate, investigator, tree_species, 
      tree_scientific_name, `position`, `owner`, 
      `condition`, area, avg_temperature, 
      heig_temperature, low_temperature, annual_precipitation, 
      `year`, wind_speed, place, 
      surround_condition, sc_area, sunlight_reason, 
      soil, terrain, surround_herb, 
      surround_woody, surround_relation, handrail, 
      handrail_height, handrail_material, handrail_area, 
      handrail_year, pillar, `trim`, 
      fertilization, ferti_tpy, ferti_type, 
      tree_height, tree_age, tree_girth, 
      tree_bark, tree_base_condition, soil_thickness, 
      soil_type, `others`, records
      )
    values (#{number,jdbcType=INTEGER}, #{oldNum,jdbcType=INTEGER}, #{recordDate,jdbcType=TIMESTAMP}, 
      #{climate,jdbcType=VARCHAR}, #{investigator,jdbcType=VARCHAR}, #{treeSpecies,jdbcType=VARCHAR}, 
      #{treeScientificName,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, 
      #{condition,jdbcType=INTEGER}, #{area,jdbcType=DECIMAL}, #{avgTemperature,jdbcType=DECIMAL}, 
      #{heigTemperature,jdbcType=DECIMAL}, #{lowTemperature,jdbcType=DECIMAL}, #{annualPrecipitation,jdbcType=DECIMAL}, 
      #{year,jdbcType=INTEGER}, #{windSpeed,jdbcType=DECIMAL}, #{place,jdbcType=VARCHAR}, 
      #{surroundCondition,jdbcType=INTEGER}, #{scArea,jdbcType=DECIMAL}, #{sunlightReason,jdbcType=VARCHAR}, 
      #{soil,jdbcType=INTEGER}, #{terrain,jdbcType=INTEGER}, #{surroundHerb,jdbcType=INTEGER}, 
      #{surroundWoody,jdbcType=INTEGER}, #{surroundRelation,jdbcType=INTEGER}, #{handrail,jdbcType=INTEGER}, 
      #{handrailHeight,jdbcType=DECIMAL}, #{handrailMaterial,jdbcType=VARCHAR}, #{handrailArea,jdbcType=DECIMAL}, 
      #{handrailYear,jdbcType=INTEGER}, #{pillar,jdbcType=INTEGER}, #{trim,jdbcType=INTEGER}, 
      #{fertilization,jdbcType=INTEGER}, #{fertiTpy,jdbcType=INTEGER}, #{fertiType,jdbcType=INTEGER}, 
      #{treeHeight,jdbcType=DECIMAL}, #{treeAge,jdbcType=INTEGER}, #{treeGirth,jdbcType=DECIMAL}, 
      #{treeBark,jdbcType=VARCHAR}, #{treeBaseCondition,jdbcType=INTEGER}, #{soilThickness,jdbcType=DECIMAL}, 
      #{soilType,jdbcType=VARCHAR}, #{others,jdbcType=VARCHAR}, #{records,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tj.urbanplanning.tree.Entity.TreeRecord">
    update tree_record
    set `number` = #{number,jdbcType=INTEGER},
      old_num = #{oldNum,jdbcType=INTEGER},
      record_date = #{recordDate,jdbcType=TIMESTAMP},
      climate = #{climate,jdbcType=VARCHAR},
      investigator = #{investigator,jdbcType=VARCHAR},
      tree_species = #{treeSpecies,jdbcType=VARCHAR},
      tree_scientific_name = #{treeScientificName,jdbcType=VARCHAR},
      `position` = #{position,jdbcType=VARCHAR},
      `owner` = #{owner,jdbcType=VARCHAR},
      `condition` = #{condition,jdbcType=INTEGER},
      area = #{area,jdbcType=DECIMAL},
      avg_temperature = #{avgTemperature,jdbcType=DECIMAL},
      heig_temperature = #{heigTemperature,jdbcType=DECIMAL},
      low_temperature = #{lowTemperature,jdbcType=DECIMAL},
      annual_precipitation = #{annualPrecipitation,jdbcType=DECIMAL},
      `year` = #{year,jdbcType=INTEGER},
      wind_speed = #{windSpeed,jdbcType=DECIMAL},
      place = #{place,jdbcType=VARCHAR},
      surround_condition = #{surroundCondition,jdbcType=INTEGER},
      sc_area = #{scArea,jdbcType=DECIMAL},
      sunlight_reason = #{sunlightReason,jdbcType=VARCHAR},
      soil = #{soil,jdbcType=INTEGER},
      terrain = #{terrain,jdbcType=INTEGER},
      surround_herb = #{surroundHerb,jdbcType=INTEGER},
      surround_woody = #{surroundWoody,jdbcType=INTEGER},
      surround_relation = #{surroundRelation,jdbcType=INTEGER},
      handrail = #{handrail,jdbcType=INTEGER},
      handrail_height = #{handrailHeight,jdbcType=DECIMAL},
      handrail_material = #{handrailMaterial,jdbcType=VARCHAR},
      handrail_area = #{handrailArea,jdbcType=DECIMAL},
      handrail_year = #{handrailYear,jdbcType=INTEGER},
      pillar = #{pillar,jdbcType=INTEGER},
      `trim` = #{trim,jdbcType=INTEGER},
      fertilization = #{fertilization,jdbcType=INTEGER},
      ferti_tpy = #{fertiTpy,jdbcType=INTEGER},
      ferti_type = #{fertiType,jdbcType=INTEGER},
      tree_height = #{treeHeight,jdbcType=DECIMAL},
      tree_age = #{treeAge,jdbcType=INTEGER},
      tree_girth = #{treeGirth,jdbcType=DECIMAL},
      tree_bark = #{treeBark,jdbcType=VARCHAR},
      tree_base_condition = #{treeBaseCondition,jdbcType=INTEGER},
      soil_thickness = #{soilThickness,jdbcType=DECIMAL},
      soil_type = #{soilType,jdbcType=VARCHAR},
      `others` = #{others,jdbcType=VARCHAR},
      records = #{records,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, `number`, old_num, record_date, climate, investigator, tree_species, tree_scientific_name, 
    `position`, `owner`, `condition`, area, avg_temperature, heig_temperature, low_temperature, 
    annual_precipitation, `year`, wind_speed, place, surround_condition, sc_area, sunlight_reason, 
    soil, terrain, surround_herb, surround_woody, surround_relation, handrail, handrail_height, 
    handrail_material, handrail_area, handrail_year, pillar, `trim`, fertilization, ferti_tpy, 
    ferti_type, tree_height, tree_age, tree_girth, tree_bark, tree_base_condition, soil_thickness, 
    soil_type, `others`, records
    from tree_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, `number`, old_num, record_date, climate, investigator, tree_species, tree_scientific_name, 
    `position`, `owner`, `condition`, area, avg_temperature, heig_temperature, low_temperature, 
    annual_precipitation, `year`, wind_speed, place, surround_condition, sc_area, sunlight_reason, 
    soil, terrain, surround_herb, surround_woody, surround_relation, handrail, handrail_height, 
    handrail_material, handrail_area, handrail_year, pillar, `trim`, fertilization, ferti_tpy, 
    ferti_type, tree_height, tree_age, tree_girth, tree_bark, tree_base_condition, soil_thickness, 
    soil_type, `others`, records
    from tree_record
  </select>
</mapper>